<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>About</title>
  <link rel="stylesheet" href="../static/css/mainStyle.css" th:href="@{/css/mainStyle.css}">
  <style>
    h1 {text-align: center;}
    h2 {text-align: center;}
  </style>
</head>
<body>
<div class="topnav">
  <div class="topnav-right">

    <a href="/">Home</a>
    <a href="contact">Contact</a>
    <a href="about">About</a>
  </div>
</div>
<div class="wrapper">
  <div class="title">
    <h1>About</h1>
  </div>
  <h2 align-text="center">This website was made for semestral BI-TJV<br>
    My restaurant app is used for customer ordering information behavior with delivery. The client can create a food order, choose the type of food, skip the tip. The order will also contain information about the client (name, surname, age and date of birth) as well as the delivery address.<br>
    Complex query: The number of people who ordered all types of food (all dishes from the menu) at the same time.</h2>
</div>
<footer>
  <p>Made by olsheden for BI-TJV</p>
</footer>


</body>
</html>