<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Contact</title>
  <link rel="stylesheet" href="../static/css/mainStyle.css" th:href="@{/css/mainStyle.css}">
</head>
<body>
<div class="topnav">
  <div class="topnav-right">

    <a href="/">Home</a>
    <a href="contact">Contact</a>
    <a href="about">About</a>
  </div>
</div>

<div class="wrapper">
  <div class="title">
    <h1>Contact</h1>
  </div>
  <h2>Made by Denis Olshevskiy<br>
    email: olsheden@fit.cvut.cz<br>
    Telefon number: +375297262021</h2>
</div>
<footer>
  <p>Made by olsheden for BI-TJV</p>
</footer>


</body>
</html>