<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Delivery Database</title>
  <link rel="stylesheet" href="../static/css/mainStyle.css" th:href="@{/css/mainStyle.css}">
</head>
<body>
<div class="topnav">
  <div class="topnav-right">

    <a href="/">Home</a>
    <a href="contact">Contact</a>
    <a href="about">About</a>
  </div>
</div>

<div class="wrapper">
  <div class="title">
    <h1>Delivery Database</h1>
  </div>
  <div class="content">
    <div class="columns">
      <div class="column">
        <div class="column__title">
          <h2>
            Clients
          </h2>
        </div>
        <div class="column__text">
          <p>All information about every client, that is registered on site
          </p>
        </div>
        <div class="column__button">
          <a href="clients">--></a>
        </div>
      </div>
      <div class="column">
        <div class="column__title">
          <h2>
            Orders
          </h2>
        </div>
        <div class="column__text">
          <p>All information about every order, that was made</p>
        </div>
        <div class="column__button">
          <a href="orders">--></a>
        </div>
      </div>
      <div class="column">
        <div class="column__title">
          <h2>
            Restaurants
          </h2>
        </div>
        <div class="column__text">
          <p>All information about restaurants that provide us with food</p>
        </div>
        <div class="column__button">
          <a href="restaurants">--></a>
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
  <p>Made by olsheden for BI-TJV</p>
</footer>


</body>
</html>